.item{
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.06);
    display: flex;
    margin-bottom: 40rpx;
    .pic{
        width: 240rpx;
        height: 160rpx;
        flex-shrink: 0;
        image{
            width: 100%;
            height: 100%;
        }
    }
    .text{
        flex: 1;
        padding: 0 24rpx;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .title{
            word-break: break-all;
            text-align: justify;
            line-height: 1.4em;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;  // 控制多行的行数
            -webkit-box-orient: vertical;
        }
        .relation{
            display: flex;
            justify-content: space-between;
            font-size: 24rpx;
            color: gray;
            .time, .browse , .author{
                display: flex;
                justify-content: center;
                align-items: center;
                color: var(--garyColor);
                van-icon{
                    margin-right: 6rpx;
                    color: var(--garyColor);
                    font-size: 24rpx;
                }
            }
        }
    }
}
